.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  position: fixed !important;
  top: 65px !important;
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 100vw !important;
  max-width: 100vw !important;
  transform: translateX(0) !important;
}

@media only screen and (min-width: 400px) {
  .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
    position: absolute !important;
    top: 100% !important;
  }
}
